@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(180, 190, 39, 0.171);
}



.loginBox{ 
    margin: 20%;
    text-align: center;
    margin-top: 100px;
}

